<!DOCTYPE html>
<html>
    <head>
        <title>contact</title>
<link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}">
    </head>
<body>
<nav class ="navbar">
<div class ="logo">Rentify</div>

<ul class ="nav-links">
    <li><a href="/">Home</a></li>
    <li><a href="/items">Items</a></li>
    <li><a href="/register">Register</a></li>
    <li> <a href="/login">Login</a></li>
    <li> <a href="/contact">Contact</a> </li>
    

</ul>

</nav>

<div class ="hero">
    <h1>Welcome to Rentify</h1>
    <p>Your one-stop shop for all rental needs!</p>
</div>

<div class="contact">
    
    <p>Email: supportrentify@gmail.com</p>
</div>



<footer>
<p>© 2026 Rentify. All Rights Reserved.</p>
 </footer>

</body>
</html>